                              GAME CLASS

There are two teams in a Quidditch game.
During the game, a scoreboard keeps track of every team's points.
The Game class receives plays from plays.txt.
It finds each placeholder and replaces it with a player from a random team.
If the placeholder is <chaser>, then update a team's Quaffle points.
If the placeholder is <seeker>, then update a team's Snitch points.
Scoring the "Quaffle" is worth 10 points, and catching the "Snitch" is worth 150 points.

                              TEAM CLASS 

Every team is identified by their "house".
Each team has: 1 "keeper", 1 "seeker", and 3 "chasers". 
(For the sake of brevity, not all positions were included)

                            Game Test Cases
---------------------------------------------------------------------------
- Simulation
    - Test if it can find the placeholder in each play.
    - Test if it can replace the placeholder in each play.
    - If the placeholder is <chaser>, test if a team's score updates by QUAFFLE_POINTS.
    - If the placeholder is <seeker>, test if a team's score updates by SNITCH_POINTS.

                            Team Test Cases
---------------------------------------------------------------------------
- Validate Team members
    - Test if chasers array has illegal elements.
