The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    - Test if the store contains the movie after it's added.
- selling a movie
    - Test if the movie gets removed after being sold.
    - Test for an IllegalStateException for selling a rented movie.
- renting a movie
    - Test if the movie becomes rented.
- returning a movie
    - Test if the movie is available again.
